html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
  background: #343a40;
}

.bodybg {
    background: #343a40;
}

.youtube-button {
  display: inline-block;
  margin-bottom: 20px;
  color: #000;
  font-family: Arial, sans-serif;
}


